.view {
    display: none;
}

.header-container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.header-container h1 {
    display: inline-block;
}

nav {
    display:none;
    background: #555;
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

nav ul {
    padding: 0;
}

nav li {
    list-style: none;
    padding: 10px 5px;
    font-size: 18px;
}

form {
    max-width: 500px;
    padding: 10px;
}

form > div {
    margin: 10px;
}

form input:not([type=radio]), form textarea {
    width: 100%;
}