body {
    font-family: Roboto, sans-serif;
}

.view {
    display: none;
}

.header-container {
    position: relative;
    margin-bottom: 5px;
    height: 50px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.header-container h1 {
    display: inline-block;
    font-size: 1.35em;
}

.header-container a, .header-container img {
    height: 100%;
}

nav {
    display:none;
    background: #00AA8F;
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

nav ul {
    padding: 0;
    margin: 0;
    text-align: right;
}

nav li {
    display: inline-block;
    display: block;
    list-style: none;
    padding: 8px;
    font-size: 18px;
}

form {
    max-width: 500px;
    padding: 10px;
}

form > div {
    margin: 10px;
}

form input:not([type=radio]), form textarea {
    width: 100%;
}

.icon-menu {
    cursor: pointer;
    color: #ff7445;
    font-size: 1.75em;
    transition: 
        transform 250ms ease-in-out,
        color 250ms ease-in-out;
}

.icon-menu.open {
    color: #efeb3d;
    transform: rotateZ(90deg);
}
#todos {
    margin: 0;
    padding: 0;
}
#todos > li {
    list-style: none;
}

#movies {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.movie-items {
    list-style: none;
    height: 400px;
    width: 200px;
    overflow: hidden;
    margin: 5px;
    border: 1px solid #aaa;
}

.movie-items img {
    width: 100%;
}

.movie-items p {
    padding: 5px;
    text-align: center;
    font-weight: bolder;
    height: 50px;
    max-height: 50px;
    color: #444;
}